@font-face {
  font-family: iransans;
  src: url(./public/assets/fonts/iransans.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "iransans", sans-serif !important;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
